<h1 class="title">Platforms</h1>

<div id="operations">
  <ul class="inline-list">
    <li><%=link_to 'Suggest a new platform', new_platform_path %></li>
  </ul>
</div>

<% unless @platforms.blank? %>
  <div id="items">
    <% @platforms.each do |platform| %>
      <div id="item">
        <div id="name">
          <%= platform.name %>
        </div>
        <div id="date">
          Created <%= time_ago_in_words platform.created_at %> ago.
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="not_found">
    <p class="notice">No items found.</p>
  </div>
<% end %>
