<article id="product" class="{{ product-list-type }}">
  <div id="image">
    <img src="{{ post.images[0] }}" />
  </div>
  <div id="info">
    <div id="inner">
      <h2>{{ post.title }}</h2>
      <ul id="shopping-info">
        <li id="price">
          <a class="button" href="/">
            <span>{{ post.price }}</span> RON
            &nbsp;&nbsp;
            Adauga la cos
          </a>
        </li>
        <li id="delivery">Livrare: {{ post.delivery }} zile</a>
      </ul>
    </div>
  </div>
</article>
