<nav id="sidebar">

  <ul id="navigation-icons">
    <li rel="scroll">&#57344;</li>
    <li rel="grid">&#185;</li>
    <li rel="list">&#179;</li>
  </ul>
  
  ezt osszehozni valahogy a 'sort by price' comboboxxal
  
  <h2>Preturi</h2>
  <ul>
    <li><a href="/">In jur de 100 RON</a></li>
    <li><a href="/">200 RON</a></li>
    <li><a href="/">300 RON</a></li>
    <li><a href="/">Peste 500 RON</a></li>
    <li><a href="/">Actiune 3+1</a></li>
    <li><a href="/">Politica de preturi</a></li>
  </ul>
  
</nav>

