<h1>Listing imports</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Count</th>
    <th>Log</th>
    <th>Account</th>
  </tr>

<% @imports.each do |import| %>
  <tr>
    <td><%= import.status %></td>
    <td><%= import.count %></td>
    <td><%= import.log %></td>
    <td><%= import.account_id %></td>
  </tr>
<% end %>
</table>

