/* Typography
================= 
*/


/* Transform the current font, make it Smuff style
*/
@mixin smuff-font {
  font-weight: bold;
  letter-spacing: -4px;
  text-transform: none;
}

@mixin smuff-title-font {
  font-weight: bold;
  letter-spacing: -1.1px;
}

/* Transform some headings needed only for Document Outline
*/
@mixin normal-font {
  font-size: 100%;
}




/* Columns / Grid
=================
  
  - width: the width of the column in percentage
*/
@mixin col($width) {
  width: $width;
  float: left;
}



/* Other
==================
*/


/* A barebones list
*/
@mixin ul-barebones {
  list-style: none;
  margin: 0;
}

/* Navigation list 
*/
@mixin ul-navigation {
  @include ul-barebones;
  font-size: smaller;
  
  li {
    margin-bottom: .5em;
    padding-bottom: .125em;
    border-width: 0 0 1px 0;
    border-style: inset;
  }  
}

/* Inline List
*/
@mixin ul-inline {  
  display: block;
  margin: 0;

  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
    white-space: nowarp;  
  }
}


/* Block
*/
@mixin block {
  width: 100%;
  float: left;
}

/* Rotate
- usage: rotate(190deg, 1.6);
*/

@mixin rotate($degree, $degree_ie) {
  transform: rotate($degree);
  -webkit-transform: rotate($degree);
  -o-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform:rotate($degree);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=#degree_ie);
}

